@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    line-height: inherit;
  }

  html {
    line-height: 100%;
  }

  body {
    @apply bg-neutral-100;
  }
}

@layer components {
  #root {
    @apply max-w-full overflow-hidden relative;
    isolation: isolate;
  }

  #main {
    min-height: 100vh;
  }

  .container {
    @apply mx-auto;
    max-width: 92%;
  }

  /*TYPOGRAPHY*/
  .heading-xl {
    @apply font-serif font-normal;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.246154px;
  }

  .heading-md {
    @apply font-serif font-normal;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.246154px;
  }

  .paragraph-md {
    @apply font-sans font-normal;
    font-size: 0.9375rem;
    line-height: 1.75rem;
  }

  .paragraph-md.lhsm {
    line-height: 1.5625rem;
  }

  .navbar-text {
    @apply font-sans font-bold text-neutral-50 opacity-70;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .footer-text {
    @apply font-sans font-bold text-neutral-50 opacity-70 hover:opacity-100;
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }

  /*BUTTONS*/
  .primary-button {
    @apply block font-sans font-bold bg-primary hover:bg-primary-300 text-neutral-50 
    px-6 w-full text-center rounded-full;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    letter-spacing: -0.115385px;
    padding-top: 1rem;
    padding-bottom: 0.875rem;
  }

  .secondary-button {
    @apply block font-sans font-bold text-center rounded-full px-8;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    letter-spacing: -0.115385px;
    padding-top: 0.9375rem;
    padding-bottom: 0.8125rem;
  }

  .secondary-button.dark {
    @apply border border-neutral-50 text-neutral-50;
  }

  .secondary-button.light {
    @apply border border-neutral-900 text-neutral-900;
  }

  .secondary-button:hover.dark {
    @apply bg-neutral-100 text-neutral-900;
  }

  .secondary-button:hover.white {
    @apply bg-neutral-900 text-neutral-50;
  }

  @media screen(sm) {
    .container {
      max-width: 20.4375rem;
    }

    #root {
      @apply mx-auto;
      max-width: 28rem;
    }
  }

  @media screen(md) {
    #root {
      max-width: 50rem;
    }

    .container {
      max-width: 43.0625rem;
    }

    /*TYPOGRAPHY*/
    .heading-xl {
      font-size: 3rem;
      line-height: 3.5rem;
      letter-spacing: -0.369231px;
    }

    .heading-md {
      font-size: 3rem;
      line-height: 3.5rem;
      letter-spacing: -0.369231px;
    }

    .heading-md.ftlg {
      font-size: 3.5rem;
    }

    .navbar-text {
      @apply text-neutral-900 hover:opacity-100;
      font-size: 0.9375rem;
      line-height: 1.125rem;
    }
  }

  @media screen(xl) {
    #root {
      max-width: 90rem;
    }

    .container {
      max-width: 69.375rem;
    }

    /*TYPOGRAPHY*/
    .heading-xl {
      font-size: 4.5rem;
      line-height: 4.5rem;
      letter-spacing: -0.553846px;
    }
  }
}
